{% extends "../base.html"%} 

{%block content%}
{%load widget_tweaks%}

<h2 class="text-white text-center my-7">Create Note</h2>

<div class="mx-auto w-mb flex content-center justify-center rounded-md box-border">
	{% comment %} create subject here {% endcomment %}
    <div class="p-4 border-box w-full">
		<form action="" method="post">
			{% csrf_token %} 
			{% render_field form.topic class="my-4 rounded-md w-full inline", placeholder='Enter topic' %}
			{% render_field form.Notes class="my-4 rounded-md w-full inline", placeholder='Write your notes here....'%} 
			{% render_field form.subject class="my-4 rounded-md w-full inline" placeholder='Subject'%} 
			{% render_field form.customer class="my-4 rounded-md w-full inline",type="date"%} 
			<button type="submit" class="bg-blue-400 ml-64 py-2 px-11 border-none rounded-md box-border mt-7"> 
						Create
			</button>
		</form>
	</div>
</div>

{%endblock content%}
