{%extends '../base.html'%}

{%block content%}
<div class="align-left flex justify-end">
<form action="/delete/{{note.id}}/" method='POST'>
    {% csrf_token %}
    {%if user == note.user.username %}
        <button type="submit" class="bg-yellow-400 p-2 rounded-sm mt-7 relative right-12 md:right-24 lg:right-36 xl:right-60">
            delete note
        </button>
    {%endif%}
</form>
</div>
<div class="w-3/4  mx-auto text-white mt-9">
    <b class="text-right text-green-500  text-xl">{{note.topic}}</b>
    
    <div class="font-shadow-light text-sm sm:text-md text-justify">
        {{note.Notes}}
    </div>
   
</div>
<div class="">
    <p class="text-right text-green-500 mr-14 md:mr-24 lg:mr-40 xl:mr-60">
        by {{note.user}}
    </p>    
</div>
{%endblock content%}
