{% extends "../base.html"%}
{%block links%}
{%endblock links%} 
{%block content%}
{%load widget_tweaks%}
<h2 class="text-white text-center my-7">Create subject</h2>
<div class="flex justify-center w-mb mx-auto content-center rounded-md box-border">
	{% comment %} create subject here {% endcomment %}
    <div class="p-4 w-full border-box">
        <form action="" method="post class="">
            {% csrf_token %} 
            {% render_field form.name class="my-4 rounded-md w-full inline", placeholder='Enter name' %}
            <button
                type="submit"
                class="bg-blue-400 py-2 px-11 border-none rounded-md box-border mt-7 ml-28"> 
                <a href="{% url 'dashboard' %}">
                    Create
                </a>
            </button>
        </form>
	</div>
</div>



<div class="w-24 h-24">
</div>

{%endblock content%}