{%extends './base.html'%}
{%load widget_tweaks%}

{%block authenticate%}
<div>
    <h2 class="relative top-24 font-shadow-light text-white text-3xl sm:text-5xl text-center ">Log in</h2>
    <div class="w-72 sm:w-mb rounded-lg mx-auto mt-52">
        <form action="" method="post">
           {%csrf_token%}
                <input type="text" name="username" class="my-4 rounded-md w-full inline" placeholder="Username">
                <br>
                <input type="password" name="password" class="my-4 rounded-md w-full inline" placeholder="password">
                <br>
               <button type="submit" class="bg-blue-400  ml-16  sm:ml-56 py-2 px-11 border-none rounded-md box-border mt-7"> 
                  Log in
                </button>
                <p></p>
    
            </form>
    </div>
{%endblock authenticate%}